@import '../../sass/_mixins.sass'
@import '../../sass/_variables.sass'


.user-profile-works
  width: 100%
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: flex-start
  flex-wrap: wrap
  padding: 20px
  +rmin(1024)
    width: calc(100% - 320px)
  &__list
    width: 100%
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: flex-start
    &.open
      width: 50%

