@import '../../sass/_mixins.sass'
@import '../../sass/_variables.sass'

.user-profile__main
    padding: 20px
    border-radius: 5px
    box-shadow: 0px 5px 7px rgba(0,0,0,0.16)
.user-profile-wrap
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-start
    flex-wrap: wrap
.user-profile-form
    width: 100%
    display: flex
    flex-direction: row
    justify-content: center
    align-items: flex-start
    flex-wrap: wrap
    +rmin(768)
        justify-content: space-between
    .user-profile_img
        width: 100%
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: center
        +r(767)
            order: -1
        +rmin(768)
            width: 50%
        .img-holder
            width: 200px
            height: 200px
            border-radius: 100%
            overflow: hidden
    .user-profile__main
        display: grid
        grid-template-columns: 1fr 35px
        grid-auto-rows: minmax(50px, auto)
        grid-row-gap: 20px
        grid-column-gap: 10px
        padding: 20px 0
        width: 100%
        +rmin(768)
            width: 50%
.check-box__holder
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center